<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <distributable/>

    <display-name>ejb3 enabled webapp</display-name>

    <listener>
        <listener-class>org.jfox.mvc.WebContextLoader</listener-class>
    </listener>

    <!-- if you don't want to use JFox MVC, comment below content -->
    <context-param>
        <!--encoding used by request & velocity -->
        <param-name>DEFAULT_ENCODING</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <context-param>
        <!-- modules deployment dir -->
        <param-name>MODULES_DIR</param-name>
        <param-value>WEB-INF/MODULES</param-value>
    </context-param>

    <context-param>
        <!-- view template dir -->
        <param-name>VIEW_DIR</param-name>
        <param-value>views</param-value>
    </context-param>

    <context-param>
        <!-- action url suffix -->
        <param-name>ACTION_SUFFIX</param-name>
        <param-value>.do</param-value>
    </context-param>

    <servlet>
        <servlet-name>xfire_servlet</servlet-name>
        <servlet-class>org.jfox.webservice.xfire.JFoxXFireServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>xfire_servlet</servlet-name>
        <url-pattern>/webservice/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>controller_servlet</servlet-name>
        <servlet-class>org.jfox.mvc.servlet.ControllerServlet</servlet-class>
        <init-param>
            <param-name>MAX_UPLOAD_FILE_SIZE</param-name>
            <param-value>5000000</param-value>
            <!-- 5Mbytes -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller_servlet</servlet-name>
        <url-pattern>/modules/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>template_servlet</servlet-name>
        <servlet-class>org.jfox.mvc.servlet.TemplateServlet</servlet-class>
        <init-param>
            <description>velocity render</description>
            <param-name>org.jfox.mvc.velocity.VelocityRender</param-name>
            <param-value>*.vm,*.tmpl,*.vhtm,*.vhtml</param-value>
        </init-param>
        <init-param>
            <description>freemarker render</description>
            <param-name>org.jfox.mvc.freemarker.FreemarkerRender</param-name>
            <param-value>*.ftl,*.fhtm,*.fhtml</param-value>
        </init-param>
        <!--
        <init-param>
            <description>pdf_render</description>
            <param-name>org.jfox.mvc.pdf.PDFRender</param-name>
            <param-value>*.pdf</param-value>
        </init-param>
        <init-param>
            <description>excel_render</description>
            <param-name>org.jfox.mvc.excel.ExcelRender</param-name>
            <param-value>*.xls</param-value>
        </init-param>
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.tmpl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.vhtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.vhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.fhtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>template_servlet</servlet-name>
        <url-pattern>*.fhtml</url-pattern>
    </servlet-mapping>

</web-app>