<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<h2>JFox JSP Demos</h2>
<HR>
<P>
    JFox integrate jakarta Tomcat as JSP engine from <A href="tomcat.apache.org">jakarta tomcat</a>.
    These links demonstrate some simple JSPs: <br/>
    <b>NOTE:</b>JFox default only support jsp as view template!
</P>
<UL><A HREF="jsp/hello.jsp">Hello World JSP</A>
    <BR><A HREF="jsp/date.jsp">Date JSP</A>
    <BR><A HREF="jsp/snoop.jsp">Snoop JSP</A>
</UL>

</body>
</html>