<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<h2>JFox Servlet Action Demos</h2>
<HR>
<P>
    JFox integrate it's own MVC Framework, has define a api for rapid development.
    These links demonstrate some simple Actions:
</P>
<UL>
    <A HREF="numberguess.view.do">Number Guess</A><br/>
    <A HREF="checkbox.view.do">Fruit Checkbox</A>
    <A HREF="demoupload.view.do">File Upload</A>
</UL>

</body>
</html>