<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<h2>JFox MVC Action Demos</h2>
<HR>
<P>
    JFox integrate it's own MVC Framework, has define a api for rapid development.
    These links demonstrate some simple Actions:
</P>
<UL>
    <li><A HREF="numberguess.view.do">Number Guess</A>
    <li><A HREF="checkbox.view.do">Fruit Checkbox</A>
    <li><A HREF="carts.view.do">Carts</A> <i>use Freemarker Template Engine</i>
    <li><A HREF="demoupload.view.do">File Upload</A>
</UL>

</body>
</html>