<FONT color=darkgreen><H3>Account Information</H3></FONT>

<TABLE bgcolor="#008800" border=0 cellpadding=3 cellspacing=1>
    <TR bgcolor="#FFFF88">
        <TD>
            First name:
        </TD>
        <TD><input type="text" name="firstName" value="$!account.getFirstName()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Last name:
        </TD>
        <TD><input type="text" name="lastName" value="$!account.getLastName()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Email:
        </TD>
        <TD><input type="text" size="40" name="email" value="$!account.getEmail()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Phone:
        </TD>
        <TD><input type="text" name="phone" value="$!account.getPhone()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Address 1:
        </TD>
        <TD><input type="text" size="40" name="address1" value="$!account.getAddress1()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Address 2:
        </TD>
        <TD><input type="text" size="40" name="address2" value="$!account.getAddress2()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            City:
        </TD>
        <TD><input type="text" name="city" value="$!account.getCity()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            State:
        </TD>
        <TD><input type="text" size="4" name="state" value="$!account.getState()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Zip:
        </TD>
        <TD><input type="text" size="10" name="zip" value="$!account.getZip()"/>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Country:
        </TD>
        <TD><input type="text" size="15" name="country" value="$!account.getCountry()"/>
        </TD>
    </TR>
</TABLE>


<FONT color=darkgreen><H3>Profile Information</H3></FONT>

<TABLE bgcolor="#008800" border=0 cellpadding=3 cellspacing=1>
    <TR bgcolor="#FFFF88">
        <TD>
            Language Preference:
        </TD>
        <TD>
            <select name="languagePreference">
            #foreach ($lang in $languages)
                <option name="languages" value="$!lang" #if ($lang.equals($!account.getLanguagePreference())) selected #end>$!lang</option>
            #end
            </select>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD>
            Favourite Category:
        </TD>
        <TD>
            <select name="favouriteCategoryId">
            #foreach ($category in $categories)
                <option name="categories" value="$!category.getCategoryId()"
                #if ($!category.getCategoryId().equals($!account.getFavouriteCategoryId())) selected #end>$!category.getName()</option>
            #end
            </select>
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD colspan=2>
            <input type="checkbox" name="listOption" onclick="switchCheckBox(this)" #if ($!account.getListOption($!account) == 1) value="1" checked #else value="0" #end/>Enable MyList
        </TD>
    </TR>
    <TR bgcolor="#FFFF88">
        <TD colspan=2>
            <input type="checkbox" name="bannerOption" onclick="switchCheckBox(this)" #if ($!account.getBannerOption($!account) == 1) value="1" checked #else value="0" #end/>Enable MyBanner
        </TD>
    </TR>
</TABLE>
<script type="text/javascript">
    function switchCheckBox(checkbox){
        if(checkbox.checked) {
            checkbox.value = "1";
        }
        else {
            checkbox.value = "0";
        }
    }
</script>