<center>
    <a href="category.view.do?categoryId=FISH">
        <img border="0" src="images/sm_fish.gif"/>
    </a>
    <img border="0" src="images/separator.gif"/>
    <a href=" category.view.do?categoryId=DOGS">
        <img border="0" src="images/sm_dogs.gif"/>
    </a>
    <img border="0" src="images/separator.gif">
    <a href=" category.view.do?categoryId=REPTILES">
        <img border="0" src="images/sm_reptiles.gif"/>
    </a>
    <img border="0" src="images/separator.gif"/>
    <a href=" category.view.do?categoryId=CATS">
        <img border="0" src="images/sm_cats.gif"/>
    </a>
    <img border="0" src="images/separator.gif"/>
    <a href=" category.view.do?categoryId=BIRDS">
        <img border="0" src="images/sm_birds.gif"/>
    </a>
</center>
