<HTML>
<HEAD>
    <TITLE>JPetStore Demo</TITLE>
    <META content="text/html; charset=windows-1252" http-equiv=Content-Type>
</HEAD>

<BODY bgColor=white>
<TABLE background="images/bkg-topbar.gif" border=0 cellSpacing=0
       cellPadding=5 width="100%">
    <TBODY>
        <TR>
            <TD>
                <A href="page.index.do">
                    <IMG border=0 src="images/logo-topbar.gif"></A>
            </TD>
            <TD align=right>
                <A href="cart.view.do"><IMG border=0 name=img_cart src="images/cart.gif">
                </A> <IMG border=0 src="images/separator.gif">
                <A href="account.signon.do">
                    <IMG border=0 name=img_signin src="images/sign-in.gif"></A> <IMG border=0
                                                                                     src="images/separator.gif">
                <A href="help.html"><IMG border=0 name=img_help src="images/help.gif"></A></TD>
            <TD align=left valign=bottom>
                <form action="product.search.do" method="POST">
                    <INPUT name=keywordsize=14>
                    <INPUT border=0 src="images/search.gif" type=image></FORM>
            </TD>
        </TR>
    </TBODY>
</TABLE>
<TABLE border=0 cellSpacing=0 width="100%">
    <TBODY>
        <TR>
            <TD vAlign=top width=100%>
                <p>&nbsp;</p>

                <p align="center"><b>Welcome to the JFox JPetStore!</b></p>

                <p align="center"></p>

                <p align="center"><a href="page.index.do">Enter the Store</a></p>
            </TD>
        </TR>
    </TBODY>
</TABLE>

<p>&nbsp;</p>

<table align="center">

    <tr>
        <td colspan=3 align="center">
            <a href="http://www.huihoo.org/jfox">
                <img border="0" src="images/jfox.jpg" alt="Powered by JFox3!"/>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan=3 align="center">
            Powered by JFox3 Application Server(EJB3+JPA enabled) & JFox3 MVC!
        </td>
    </tr>

</table>


</BODY>

</HTML>
