<br>
#if ($sessionContext.getAttribute("__ACCOUNT__"))
	#if ($account.getListOption() == 1)
		<table align="center" background="images/bkg-topbar.gif" cellpadding="5" width="100%">
		<tr><td>
		<center>
				$sessionContext.getAttribute("__ACCOUNT__").getBannerName()
				&nbsp;
		</center>
		</td></tr>
		</table>
	#end
#end
