<!-- <p>&nbsp;</p> -->

<table align="center">

    <tr>
        <td colspan=3 align="center">
            <a href="http://www.huihoo.org/jfox">
                <img border="0" src="images/jfox.jpg" alt="Powered by JFox3!"/>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan=3 align="center">
            Powered by JFox3 Application Server(EJB3+JPA enabled) & JFox3 MVC
        </td>
    </tr>

</table>
