body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #525252;
}
td, textarea, input, select {
	font-family: Tahoma;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
}
.tableDetail {
	font-size: 12px;
	font-family: Verdana;
	color: #49394E;
}
a.title:link {
	color: #BFBD3D;
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
a.title:hover {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
}
a.title:visited {
	color: #999999;
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

a.stitle:link {
	color: BFBD3D;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;

}
a.stitle:hover {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}
a.stitle:visited {
	color: #BFBD3D;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;

}

.text1 {
	font-family: tahoma;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.content {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #5C5C5C;
}
.caption {
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #BFBD3D;
}

.caption2 {
	font-family: tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #E9BD4F;
}
.caption3 {
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: E9BD4F;
}

.titletd {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: BFBD3D;
}
.copyright {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: E9BD4F;
}

.text6 {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.text7 {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.text8 {

	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: 94AEC5;
}
.text9 {


	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: 4E4E4E;
}
.frame {
	border: 1px solid #737373;
}
.designed_by {
	font-family: Arial;
	font-size: 8.5px;
	font-weight: lighter;
	color: #000000;
}
a.readmore:link {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #AD8019;
	text-decoration: underline;
}
a.readmore:hover {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #AD8019;
	text-decoration: none;
}
a.readmore:visited {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}
a.b:link {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: 7C7C7C;
	text-decoration: none;
}
a.b:hover {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #85B350;
	text-decoration: underline;
}
a.b:visited {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: 7C7C7C;
	text-decoration: none;
}
a.c:link {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.c:hover {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.c:visited {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.d:link {



	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a.d:hover {


	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
a.d:visited {


	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a.e:link {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: 944F23;
	text-decoration: underline;
}
a.e:hover {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #4E4E4E;
	text-decoration: underline;
}
a.e:visited {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: 944F23;
	text-decoration: underline;
}
a.f:link {

	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: 594B13;
	text-decoration: underline;
}
a.f:hover {

	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #4E4E4E;
	text-decoration: underline;
}
a.f:visited {

	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: 594B13;
	text-decoration: underline;
}
a.g:link {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.g:hover {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}
a.g:visited {

	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.inputstyle {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #5F726F;
	background-color: #E2EDEB;
	border: 1px solid #333333;
}
