<!--
/*********************************************************************************
 * The contents of this file are subject to the SugarCRM Public License Version
 * 1.1.3 ("License"); You may not use this file except in compliance with the
 * License. You may obtain a copy of the License at http://www.sugarcrm.com/SPL
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied.  See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * All copies of the Covered Code must include on each user interface screen:
 *    (i) the "Powered by SugarCRM" logo and
 *    (ii) the SugarCRM copyright notice
 * in the same form as they appear in the distribution.  See full license for
 * requirements.
 *
 * The Original Code is: SugarCRM Open Source
 * The Initial Developer of the Original Code is SugarCRM, Inc.
 * Portions created by SugarCRM are Copyright (C) 2004-2006 SugarCRM, Inc.;
 * All Rights Reserved.
 * Contributor(s): ______________________________________.
 ********************************************************************************/
/*********************************************************************************

 ********************************************************************************/
-->
<!-- BEGIN: main -->
<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.01 Transitional//EN">
<html {DIR}>
<head >
<link REL="SHORTCUT ICON" HREF="include/images/sugar_icon.ico">
<meta http-equiv="Content-Type" content="text/html; charset={LBL_CHARSET}">
<title>{APP.LBL_BROWSER_TITLE}</title>

<link rel="stylesheet" type="text/css" href="themes/{THEME}/navigation.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" />
<link rel="stylesheet" type="text/css" href="themes/{THEME}/style.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" />
<link rel="stylesheet" type="text/css" href="themes/{THEME}/colors.{STARTING_COLOR_NAME}.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" />
<link rel="stylesheet" type="text/css" href="themes/{THEME}/fonts.{STARTING_FONT_NAME}.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" />
<!-- BEGIN: color_sheet --><link href="themes/{THEME}/colors.{COLOR_NAME}.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" rel="{COLOR_STYLE_REL}" type="text/css" title="color:{COLOR_NAME}" />
<!-- END: color_sheet -->
<!-- BEGIN: font_sheet --><link href="themes/{THEME}/fonts.{FONT_NAME}.css?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}" rel="{FONT_STYLE_REL}" type="text/css" title="font:{FONT_NAME}" />
<!-- END: font_sheet -->
<script language="javascript" src="themes/{THEME}/menu.js?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}"></script>
<script language="javascript" src="themes/{THEME}/cookie.js?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}"></script>
<script language="javascript" src="themes/{THEME}/style.js?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}"></script>
<!-- BEGIN: no_group_placeholder_js -->
<script language="javascript">

SUGAR.themes.resetSubTabsTimer = 0;
SUGAR.themes.moreTab = 0;
SUGAR.themes.setResetTimer = function(){};
SUGAR.themes.updateSubTabHtml = function(){};
SUGAR.themes.updateSubTabsDelay = function(){};
SUGAR.themes.updateMoreTabDelay = function(){};
SUGAR.themes.chooseTab = function(){};

</script>
<!-- END: no_group_placeholder_js -->
<!-- BEGIN: group_tabs_js -->
<script language="javascript">

SUGAR.themes.imagePath = '{IMAGE_PATH}';

SUGAR.themes.startTab = '{PARENT_TAB}';

if(SUGAR.themes.startTab == null){
	SUGAR.themes.startTab = 'Home';
}

SUGAR.themes.activeTab = SUGAR.themes.startTab;
SUGAR.themes.moreTab = '{MAIN_MORE_TAB}';

SUGAR.themes.subTabs = new Array();
<!-- BEGIN: js_subtabs -->
SUGAR.themes.subTabs['{MAIN_TAB_NAME}'] = '<ul class=\'subTabs\' onclick="SUGAR.themes.chooseTab(\'{MAIN_TAB_NAME}\');return true;"><!-- BEGIN: js_subtabs_html --><li class="{SUB_CLASS}"><a href="{SUB_URL}">{SUB_NAME}</a></li>{SUB_MORE}<!-- END: js_subtabs_html --></ul>';
<!-- END: js_subtabs -->

SUGAR.themes.updateSubTabsTimer = 0;
SUGAR.themes.resetSubTabsTimer = 0;
SUGAR.themes.moreTabUrl = null;

</script>
<script language="javascript" src="themes/{THEME}/groupTabs.js?s={SUGAR_VERSION}&c={JS_CUSTOM_VERSION}"></script>
<script language="javascript">

YAHOO.util.Event.addListener(window, "load", SUGAR.themes.firstReset);

</script>
<!-- END: group_tabs_js -->
<script language="javascript">

function hideLeftCol(id){

	if(this.document.getElementById( id).style.display=='none'){
		this.document.getElementById( id).style.display='inline';

		Set_Cookie('showLeftCol','true',30,'/','','');
		var show = Get_Cookie('showLeftCol');
		document['HideHandle'].src = '{IMAGE_PATH}hide.gif';		
	}else{
		this.document.getElementById(  id).style.display='none';

		Set_Cookie('showLeftCol','false',30,'/','','');
		var show = Get_Cookie('showLeftCol');
		document['HideHandle'].src = '{IMAGE_PATH}show.gif';	

	}
}

function showSubMenu(id){
	if(this.document.getElementById( id).style.display=='none'){
		tbButtonMouseOver('HideHandle','','',10);
	}
}

</script>
</head>

<body {ONLOAD} onMouseOut="closeMenus();">
	<!-- BEGIN: gcl_submenu -->
	<div id="{GCL_SUBMENU_KEY}Menu" class="menu">
	<!-- BEGIN: gcl_submenu_items -->
	<a href="{GCL_SUBMENU_LINK_URL}" class="menuItem" id="{GCL_SUBMENU_LINK_KEY}Handle" parentid="{GCL_SUBMENU_KEY}Menu" onmouseover="hiliteItem(this,'yes'); closeSubMenus(this);" onmouseout="unhiliteItem(this);">{GCL_SUBMENU_LINK_LABEL}</a>
	<!-- END: gcl_submenu_items -->
	</div>
	<!-- END: gcl_submenu -->
	
	
	<div id="MoreMenu" class="menu" onmouseover="window.clearTimeout(SUGAR.themes.resetSubTabsTimer);" onmouseout="SUGAR.themes.setResetTimer();">
	<!-- BEGIN: more -->
	<a href="{TAB_URL}" class="menuItem" id="{MODULE_KEY}Handle" parentid="MoreMenu" onmouseover="hiliteItem(this,'yes');SUGAR.themes.updateSubTabsDelay(SUGAR.themes.moreTab,'{MODULE_NAME}','{MODULE_NAME}');closeSubMenus(this);" onmouseout="unhiliteItem(this);" onclick="SUGAR.themes.chooseTab('{MODULE_NAME}'); return true;">{MODULE_NAME}</a>
	<!-- END: more -->
	</div>
	
	<!-- BEGIN: moresubmenu -->
	<div id="MoreSub{MENU_NAME}Menu" class="menu" onmouseover="window.clearTimeout(SUGAR.themes.resetSubTabsTimer);" onmouseout="SUGAR.themes.setResetTimer();">
	<!-- BEGIN: moresubmenuitem -->
	<a href="{SUB_URL}" class="menuItem" id="{MODULE_KEY}Handle" parentid="MoreSub{MENU_NAME}Menu" onmouseover="hiliteItem(this,'yes'); closeSubMenus(this);" onmouseout="unhiliteItem(this);" onclick="SUGAR.themes.chooseTab('{MENU_NAME}'); return true;">{MODULE_NAME}</a>
	<!-- END: moresubmenuitems -->
	</div>
	
	
	<!-- END: moresubmenu -->
	
	<div id="HideMenu" class="subDmenu">
	<!-- BEGIN: hide_recent -->
	<table cellpadding="0" cellspacing="0" border="0" width="180" class="leftColumnModuleHead" onMouseOver="hiliteItem(this,'no');">
    
			  			<tr><th width="100%" class="leftColumnModuleName">{TITLE_LAST_VIEW}</th></tr>
	</table>
	
	<div id="div_shortcuts_hide" onMouseOver="hiliteItem(this,'no');" style="width: 180; margin:0; padding:0;">
				<ul class="subMenu" style="margin:0; padding:0;">
	<!-- BEGIN: hide_recent_item -->
		<li id="{RL_ID}_lvh"><a href="{RECENT_URL}">{RL_IMAGE}&nbsp;{RECENT_LABEL}</a></li>
	<!-- END: hide_recent_item -->
	<!-- BEGIN: left_form_recent_view_empty -->
		<li id="{RL_ID}_lvh"><span>{RL_IMAGE}&nbsp;{APP.NTC_NO_ITEMS_DISPLAY}</span></li>
	<!-- END: left_form_recent_view_empty -->
	</ul>
	</div>
	<!-- END: hide_recent -->
	
	<!-- BEGIN: hide_shortcut -->
	<table cellpadding="0" cellspacing="0" border="0" width="180" class="leftColumnModuleHead" onMouseOver="hiliteItem(this,'no');">
			  			<tr><th width="100%" class="leftColumnModuleName">{SHORTCUTS}</th></tr>
	</table>
	
	<div id="div_shortcuts_hide" onMouseOver="hiliteItem(this,'no');" style="width: 180;">
				<ul class="subMenu">
	<!-- BEGIN: hide_shortcut_item -->
		<li id="{SC_ID}_shh"><a href="{URL}">{SC_IMAGE}&nbsp;{LABEL}</a></li>
	<!-- END: hide_shortcut_item -->
	<!-- BEGIN: hide_shortcut_special -->
		<li id="{SC_ID}_shh">{LABEL}</li>
	<!-- END: hide_shortcut_special -->

	</ul>
	</div>
	<!-- END: hide_shortcut -->
	</div>


<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td colspan="2">
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="headerBg">
			<tr>
		    <td class="logo" rowspan="2" width="80%" valign="top"><img src="{IMAGE_PATH}company_logo.png" width="212" height="40" alt="Company Logo" border="0"></td>
			<!-- BEGIN: welcome -->
			<td width="80%" nowrap class="welcome" id="welcome" style="border-left: 1px solid #ddd;">{APP.NTC_WELCOME} {CURRENT_USER}</td>				
			<!-- END: welcome -->
				<td nowrap class="myArea" style="padding-right: 8px;"><ul class="subTabs"><!-- BEGIN: global_control_links --><li><a href="{GCL_URL}" {GCL_MENU}>{GCL_LABEL}</a>{MENU_ARROW}</li><!-- END: global_control_links --></ul>
			</td>
			<td id="colorpicker" nowrap class="welcome"><ul class="colorpicker">
				<!-- BEGIN: color --><li onClick="SUGAR.themes.changeColor('{COLOR_NAME}');"><img src="themes/{THEME}/colors.{COLOR_NAME}.icon.gif" alt="{COLOR_NAME}" border="0" style="margin: 0 3px 0 3px;"></li><!-- END: color -->
				<!-- BEGIN: font --><li onClick="SUGAR.themes.changeFont('{FONT_NAME}');"><img src="themes/{THEME}/fonts.{FONT_NAME}.icon.gif" alt="{FONT_NAME}" border="0" style="margin: 0 3px 0 3px;"></li><!-- END: font -->
				</ul>
				</td><td style="padding-left: 0px;" class="welcome"><img src="include/images/sugarsales_myarea.png" alt="Sugar Suite" width="140" height="15" border="0"></td></tr>
			    <tr>
				<!-- BEGIN: left_form_search -->
				<td colspan="4" align="right" valign="top" nowrap style="padding: 10px 10px 0px 10px; font-size: 12px;">
                   <form name='UnifiedSearch' onsubmit='return SUGAR.unifiedSearchAdvanced.checkUsaAdvanced()'>
				  <input type="hidden" name="action" value="UnifiedSearch">
				  <input type="hidden" name="module" value="Home">
				  <input type="hidden" name="search_form" value="false">
				  <input type="hidden" name="advanced" value="false">
				  <img style="filter:alpha(opacity=10);" id="unified_search_advanced_img" src="{IMAGE_PATH}searchMore.gif" border="0" alt="Search">&nbsp;{TITLE}&nbsp; <input type="text" class="searchField" name="query_string" id="query_string" size="20" value="{SEARCH}">&nbsp;<input type="submit" class="button" value="Go"><br>
                  </form>
                  <div id="unified_search_advanced_div" style="display: none; height: 1px; position: absolute; overflow: hidden; width: 300px; padding-top: 5px"></div>
				</td>
				<!-- END: left_form_search -->
				<!-- BEGIN: left_form_search_placeholder -->
				<td colspan="4" align="right" valign="top" nowrap style="padding: 10px 10px 0px 10px; font-size: 12px;">
				  <br />
				</td>
				<!-- END: left_form_search_placeholder -->
	       </td>
          </tr></table>
</tr>
<tr>
    <td colspan="2">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">		
	
		 <tr>
		    <td colspan="3">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
			    <td style="padding-left:14px;" class="otherTabRight">&nbsp;</td>
				<!-- BEGIN: tab -->
				<td onmouseout="SUGAR.themes.setResetTimer();" onmouseover="window.clearTimeout(SUGAR.themes.resetSubTabsTimer);">
				<table cellspacing="0" cellpadding="0" border="0" width="100%" id="{TAB_NAME}_tab" onmouseover="SUGAR.themes.updateSubTabsDelay('{TAB_NAME}');">
			<tr>
				<td class="{TAB_CLASS}Left"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="{MODULE_NAME}"></td>
			    <td class="{TAB_CLASS}" nowrap><a class="{TAB_CLASS}Link" href="{TAB_URL}" onclick="SUGAR.themes.chooseTab('{TAB_NAME}' );return true;">{TAB_NAME}</a></td>
				<td class="{TAB_CLASS}Right"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="{MODULE_NAME}"></td>
</tr>

			</table>
			</td>
				<!-- END: tab -->
				<!-- BEGIN: module_tab -->
				<td>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tr>
				<td class="{TAB_CLASS}Left"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="{MODULE_NAME}"></td>
			    <td class="{TAB_CLASS}" nowrap>{LINK}</td>
				<td  class="{TAB_CLASS}Right"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="{MODULE_NAME}"></td>
					</tr>
				</table>
				</td>
				<!-- END: module_tab -->
				<!-- BEGIN: moreHandle -->
				<td>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tr>
				<td class="{MORE_HANDLE_CLASS}Left"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="More"></td>
			    <td class="{MORE_HANDLE_CLASS}" nowrap id="MoreHandle" style="cursor: pointer; cursor: hand;" onmouseover="tbButtonMouseOver(this.id,'','',-6);">&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;</td>
				<td class="{MORE_HANDLE_CLASS}Right"><img src="include/images/blank.gif" width="5" height="25" border="0" alt="{MODULE_NAME}"></td>
					</tr>
				</table>
				</td>
				<!-- END: moreHandle -->
				<td width="100%" class="tabRow"><img src="include/images/blank.gif" width="1" height="1" border="0" alt=""></td>
			</tr>

			</table>
     </td>
  </tr>
	<tr>
	    <td class="subTabBar" colspan="3">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" height="20">
		<tr onmouseout="SUGAR.themes.setResetTimer();" onmouseover="window.clearTimeout(SUGAR.themes.resetSubTabsTimer);">
		    <td id="subtabs" width="100%">
		    	<!-- subtabs get rendered here -->
		    </td>
		</tr>
		</table>
		</td>
		</tr>
		</table>
		
	</td>
</tr>
<!-- BEGIN: left_form_recent_view -->
<tr height="20">
	<td nowrap colspan="3" class="lastView">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
		<tr>
			<td width="100%">
				<b style="white-space:nowrap;">{TITLE_LAST_VIEW}:&nbsp;&nbsp;</b>
		<!-- BEGIN: left_form_recent_view_row -->
			 	<span style="white-space:nowrap;"><a class="lastViewLink" title="[{APP.LBL_ALT_HOT_KEY}{ROW_NUMBER}]" accessKey="{ROW_NUMBER}" href="{RECENT_URL}">{RL_IMAGE}&nbsp;{RECENT_LABEL}</a></span>
		<!-- END: left_form_recent_view_row -->
		<!-- BEGIN: left_form_recent_view_empty -->
			{APP.NTC_NO_ITEMS_DISPLAY}
		<!-- END: left_form_recent_view_empty -->
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
<!-- END: left_form_recent_view -->
<!-- BEGIN: left_form_shortcuts -->
<tr>
	<td colspan="3">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody>
		<tr>
			<td class="lastView">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tr>
						<td width="1">
							<b style="white-space:nowrap;">{SHORTCUTS}:&nbsp;&nbsp;</b>
						</td>
						<td width="100%">
							<!-- BEGIN: shortcut_item --> <span style="white-space:nowrap;"><a class="lastViewLink" href="{URL}">{SC_IMAGE}&nbsp;{LABEL}</a></span><!-- END: shortcut_item -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
<!-- END: left_form_shortcuts -->
<tr height="11">
	<td colspan="3" style="padding-left: 10px;"></td>
</tr>
<tr>
	<td colspan="3">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
	<!-- BEGIN: left_form_empty_td -->
	<td style="padding-left: 10px">&nbsp;<img style="display:none; cursor: pointer; cursor: hand;" id="HideHandle" name="HideHandle" src="{IMAGE_PATH}show.gif" alt="" onclick='hideLeftCol("leftCol");closeMenus();' onmouseover="showSubMenu('leftCol')"><div style="display: none;" id="leftCol"></div></td>
	<!-- END: left_form_empty_td -->
	
    <!-- BEGIN: left_form_otd -->
    	<td valign="top" style="width: 10px;">
	    	<!-- BEGIN: left_form_otd_icon -->
    		<img style="cursor: pointer; cursor: hand;" id="HideHandle" name="HideHandle" src="{IMAGE_PATH}show.gif" alt="" onclick='hideLeftCol("leftCol");closeMenus();' onmouseover="showSubMenu('leftCol')">
    		<!-- END: left_form_otd_icon -->
    		<!-- BEGIN: left_form_otd_noicon -->
    		&nbsp;<img style="display:none; cursor: pointer; cursor: hand;" id="HideHandle" name="HideHandle" src="{IMAGE_PATH}show.gif" alt="" onclick='hideLeftCol("leftCol");closeMenus();' onmouseover="showSubMenu('leftCol')">
    		<!-- END: left_form_otd_noicon -->
    	</td>
    	<td id="left" valign="top" style="width: 160px;" class="leftColumn">
    		<div style="display: none;" id="leftCol"><table cellpadding="0" cellspacing="0" border="0" width="160">
    		<tr>
    			<td style="">
    <!-- END: left_form_otd -->
				<!-- BEGIN: left_form_recent -->
					<p>
				      	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="leftColumnModuleHead">
			  			<tr><th width="100%" class="leftColumnModuleName">{TITLE_LAST_VIEW}</th></tr>
						</table><div id="div_lastview">
						<!-- BEGIN: sub_menu -->
				<ul class="subMenu">
						<!-- BEGIN: sub_menu_item -->
							<li id="{RL_ID}_lv"><a title="[{APP.LBL_ALT_HOT_KEY}{ROW_NUMBER}]" accessKey="{ROW_NUMBER}" href="{RECENT_URL}">{RL_IMAGE}&nbsp;{RECENT_LABEL}</a></li>
						<!-- END: sub_menu_item -->
						<!-- BEGIN: left_form_recent_view_empty -->
						<li id="{RL_ID}_lv"><a title="[{APP.LBL_ALT_HOT_KEY}{ROW_NUMBER}]" accessKey="{ROW_NUMBER}"  href="{RECENT_URL}">{RL_IMAGE}&nbsp;{APP.NTC_NO_ITEMS_DISPLAY}</a></li>
						<!-- END: left_form_recent_view_empty -->
						</ul>
					<!-- END: sub_menu -->
					</div>
					</p>
				<!-- END: left_form_recent -->
				<!-- BEGIN: left_form -->
					<p>
				      	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="leftColumnModuleHead">
			  			<tr><th width="100%" class="leftColumnModuleName">{SHORTCUTS}</th></tr>
						</table><div id="div_shortcuts">
				<ul class="subMenu" id="subMenu">
						<!-- BEGIN: sub_menu -->
						<!-- BEGIN: sub_menu_item -->
							<li id="{SC_ID}_lv"><a href="{URL}">{SC_IMAGE}&nbsp;{LABEL}</a></li>
						<!-- END: sub_menu_item -->
						<!-- BEGIN: sub_menu_special -->
							<li id="{SC_ID}_lv">{LABEL}</li>
						<!-- END: sub_menu_special -->
						<!-- BEGIN: left_form_recent_view_empty -->
						<li id="{SC_ID}_lv"><a title="[{APP.LBL_ALT_HOT_KEY}{ROW_NUMBER}]" accessKey="{ROW_NUMBER}"  href="{URL}">{SC_IMAGE}&nbsp;{APP.NTC_NO_ITEMS_DISPLAY}</a></li>
						<!-- END: left_form_recent_view_empty -->
						</ul>
					<!-- END: sub_menu -->
					</div>
					</p>
				<!-- END: left_form -->
	<!-- BEGIN: left_form_new_record -->
					{NEW_RECORD}
	<!-- END: left_form_new_record -->
			
	<!-- BEGIN: left_form_ctd -->
					<img src="{IMAGE_PATH}blank.gif" alt="" width="160" height="1" border="0">
				</td>
			</tr>
			</table>
		</div>
	</td>
	<script language="Javascript">
	if (!Get_Cookie('showLeftCol')) {
		Set_Cookie('showLeftCol','true',30,'/','','');
	}
	var show = Get_Cookie('showLeftCol');

	if (show == 'true') {
		this.document.getElementById('leftCol').style.display='inline';
		document['HideHandle'].src = '{IMAGE_PATH}hide.gif';
	} else {
		this.document.getElementById('leftCol').style.display='none';
		document['HideHandle'].src = '{IMAGE_PATH}show.gif';	
		
	}
	</script>
	<!-- END: left_form_ctd -->
    <td style="padding-right: 10px; padding-left: 8px;  vertical-align: top; width: 100%;">
<!-- END: main -->
